<!doctype html>
<html lang="en">

<%- include('../layout/_head') %>
    <link rel="stylesheet" href="/css/player.css">

    <body>

        <h3 class="judul">
            <%= judul %>
        </h3>

        <img class="poto" src="<%= thumb %>" alt="thumbnail">
        <audio class="audio" controls autoplay>
            <source src="<%= direct %>">
        </audio>

        <%- include('../layout/_asset') %>
            <script src="/js/player.js"></script>
    </body>

</html>